# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Fan Project\workspace_idea1\Lab1-2021110720\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# 编译结果
/out

# 自动生成的结果
.iml

# 项目配置
/.idea